In [2]:
import sqlite3
import pandas as pd
from bs4 import BeautifulSoup as BS
import numpy as np
import json
from statistics import mode
from scipy import stats
import requests
import json
def get_keys(path):
    with open(path) as f:
        return json.load(f)

In [3]:
connection = sqlite3.connect("database.sqlite")

cur = connection.cursor()

In [4]:
# cur.execute("""SELECT *
#                 FROM Matches
#                 WHERE Date BETWEEN '2010-12-31' and '2011-12-31'
#                 JOIN Unique_Teams
#                 ON Matches.HomeTeam = Unique_Teams.TeamName;""")
# df = pd.DataFrame(cur.fetchall())
# df.columns = [x[0] for x in cur.description]
# hometeams = df['HomeTeam'].unique()
# df

In [5]:
# cur.execute("""SELECT *
#                 FROM Matches
#                 WHERE Date BETWEEN '2010-12-31' and '2011-12-31'
#                 ;""")
# df = pd.DataFrame(cur.fetchall())
# df.columns = [x[0] for x in cur.description]
# hometeams = df['HomeTeam'].unique()
# df

In [6]:
# cur.execute("""SELECT *
#                 FROM Matches
#                 ;""")
# df = pd.DataFrame(cur.fetchall())
# df.columns = [x[0] for x in cur.description]
# s11 = df[df['Season']==2011]
# germs = s11[s11['Div']!='E0']
# for date in germs['Date']:
#     time = date
#     url = ''
#     weather = requests.get(url)

In [7]:
query = """
        SELECT *
        FROM Matches
        """
# JOIN Teams_in_Matches ON Matches.Match_ID = Teams_in_Matches
df = pd.DataFrame(cur.execute(query).fetchall())
df.columns = [x[0] for x in cur.description]
s11 = df[df['Season']==2011]
s11germ = s11[s11['Div']!='E0']
lat = 52.5065133
long = 13.1445703
weather = []
# for date in s11germ['Date']:
# #     print(date)
#     time = date
#     url='https://api.darksky.net/forecast/{}/{},{},{}T16:00:00'.format(apikey,lat,long,time)
# #     print(url)
#     response = requests.get(url)
#     weather.append(response.text)
# weather

In [62]:
# WINNER
cur.execute("""SELECT *
                FROM Teams_in_Matches
                JOIN Unique_Teams
                USING (Unique_Team_ID)
                JOIN Matches
                USING (Match_ID)
                WHERE Season == '2011' AND Div != 'E0'
                ;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df

,Match_ID,Unique_Team_ID,TeamName,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1092,1,Bayern Munich,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A
1,1092,22,Nurnberg,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A
2,1093,1,Bayern Munich,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A
3,1093,17,Stuttgart,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A
4,1094,1,Bayern Munich,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A
...,...,...,...,...,...,...,...,...,...,...,...
1219,1701,25,Fortuna Dusseldorf,D2,2011,2011-08-15,Ein Frankfurt,Fortuna Dusseldorf,1,1,D
1220,1702,25,Fortuna Dusseldorf,D2,2011,2011-08-27,Aachen,Fortuna Dusseldorf,0,0,D
1221,1702,34,Aachen,D2,2011,2011-08-27,Aachen,Fortuna Dusseldorf,0,0,D
1222,1703,25,Fortuna Dusseldorf,D2,2011,2011-09-16,Erzgebirge Aue,Fortuna Dusseldorf,2,4,A
1223,1703,39,Erzgebirge Aue,D2,2011,2011-09-16,Erzgebirge Aue,Fortuna Dusseldorf,2,4,A

In [75]:
date = df['Date'].unique()
date = pd.Series(date)
teams = df['TeamName'].unique()
teams = list(teams)
lat = 52.5065133
long = 13.1445703
# weather = []
# for i in date:
#     time = i
#     keys = get_keys('/Users/nielsclausen/.secret/DARKSKYAPI.json')
#     api_key = keys['api_key']
#     url = 'https://api.darksky.net/forecast/{}/{},{},{}T16:00:00'.format(api_key,lat,long,time)
#     response = requests.get(url)
#     weather.append(response.json()['daily']['data'][0].get('icon', 'clear'))
    
    
weather = pd.Series(weather)
date_weather = pd.concat([date, weather], axis = 1)

In [76]:
date_weather.columns = ['Date', 'Weather']
print(date_weather['Weather'].unique())

['rain' 'partly-cloudy-day' 'wind' 'clear' 'clear-day']

In [77]:
# WINNER
for i, row in df.iterrows():
    if row.TeamName == row.AwayTeam:
        # Away
        if row.FTR == 'A':
            df.loc[i,'Result'] = "W"
        elif row.FTR == 'D':
            df.loc[i,'Result'] = "D"
        else:
            df.loc[i,'Result'] = "L"
    else:
        # Home
        if row.FTR == 'H':
            df.loc[i,'Result'] = "W"
        elif row.FTR == 'D':
            df.loc[i,'Result'] = "D"
        else:
            df.loc[i,'Result'] = "L"

object = teams
run it through so that each team has stats x weather

In [78]:

df['goals'] = np.where(df['TeamName'] == df ['HomeTeam'], df['FTHG'], df['FTAG'])
df_pivot = df.pivot(index="TeamName", columns="Date", values='goals')
df_goals = df_pivot.aggregate(sum, axis=1)
df_goals

TeamName
Aachen                30.0
Augsburg              36.0
Bayern Munich         77.0
Bochum                41.0
Braunschweig          37.0
Cottbus               30.0
Dortmund              80.0
Dresden               50.0
Duisburg              42.0
Ein Frankfurt         76.0
Erzgebirge Aue        31.0
FC Koln               39.0
Fortuna Dusseldorf    64.0
Frankfurt FSV         43.0
Freiburg              45.0
Greuther Furth        73.0
Hamburg               35.0
Hannover              41.0
Hansa Rostock         34.0
Hertha                38.0
Hoffenheim            41.0
Ingolstadt            43.0
Kaiserslautern        24.0
Karlsruhe             34.0
Leverkusen            52.0
M'gladbach            49.0
Mainz                 47.0
Munich 1860           62.0
Nurnberg              38.0
Paderborn             51.0
Schalke 04            74.0
St Pauli              59.0
Stuttgart             63.0
Union Berlin          55.0
Werder Bremen         49.0
Wolfsburg             47.0
dtype: float64

In [79]:
df_weather = df
df_weather = pd.merge(df_weather, date_weather)
df_weather = df_weather.set_index('Weather')
df_weather = df_weather.drop(['partly-cloudy-day', 'wind', 'clear', 'clear-day'])
df_weather

,Match_ID,Unique_Team_ID,TeamName,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Result,goals
Weather,,,,,,,,,,,,,
rain,1092,1,Bayern Munich,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,W,1
rain,1092,22,Nurnberg,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,L,0
rain,1189,8,FC Koln,D1,2011,2012-03-31,Augsburg,FC Koln,2,1,H,L,1
rain,1189,15,Augsburg,D1,2011,2012-03-31,Augsburg,FC Koln,2,1,H,W,2
rain,1206,3,Leverkusen,D1,2011,2012-03-31,Leverkusen,Freiburg,0,2,A,L,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
rain,1532,24,Greuther Furth,D2,2011,2011-12-12,Ein Frankfurt,Greuther Furth,0,0,D,D,0
rain,1544,25,Fortuna Dusseldorf,D2,2011,2012-02-27,Fortuna Dusseldorf,Aachen,0,0,D,D,0
rain,1544,34,Aachen,D2,2011,2012-02-27,Fortuna Dusseldorf,Aachen,0,0,D,D,0
rain,1701,14,Ein Frankfurt,D2,2011,2011-08-15,Ein Frankfurt,Fortuna Dusseldorf,1,1,D,D,1
rain,1701,25,Fortuna Dusseldorf,D2,2011,2011-08-15,Ein Frankfurt,Fortuna Dusseldorf,1,1,D,D,1