In [137]:
import sqlite3
import pandas as pd
from bs4 import BeautifulSoup as BS
import numpy as np
import json
from statistics import mode
from scipy import stats

In [76]:
connection = sqlite3.connect("database.sqlite")

cur = connection.cursor()

In [107]:
cur.execute("""SELECT *
                FROM Matches
                WHERE Date BETWEEN '2010-12-31' and '2011-12-31'
                JOIN Unique_Teams
                ON Matches.HomeTeam = Unique_Teams.TeamName;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
hometeams = df['HomeTeam'].unique()
df

OperationalError: near "JOIN": syntax error

In [108]:
cur.execute("""SELECT *
                FROM Matches
                WHERE Date BETWEEN '2010-12-31' and '2011-12-31'
                ;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
hometeams = df['HomeTeam'].unique()
df

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,481,D1,2010,2011-01-15,Wolfsburg,Bayern Munich,1,1,D
1,483,D1,2010,2011-04-23,Ein Frankfurt,Bayern Munich,1,1,D
2,485,D1,2010,2011-03-05,Hannover,Bayern Munich,3,1,H
3,489,D1,2010,2011-01-29,Werder Bremen,Bayern Munich,1,3,A
4,490,D1,2010,2011-02-05,FC Koln,Bayern Munich,3,2,H
...,...,...,...,...,...,...,...,...,...
1003,44677,E0,2011,2011-12-31,Chelsea,Aston Villa,1,3,A
1004,44678,E0,2011,2011-12-31,Man United,Blackburn,2,3,A
1005,44679,E0,2011,2011-12-31,Norwich,Fulham,1,1,D
1006,44680,E0,2011,2011-12-31,Stoke,Wigan,2,2,D
1007,44681,E0,2011,2011-12-31,Swansea,Tottenham,1,1,D

In [148]:
cur.execute("""SELECT *
                FROM Matches
                ;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
s11 = df[df['Season']==2011]
germs = s11[s11['Div']!='E0']
for date in germs['Date']:
    time = date
    url = ''
    weather = requests.get(url)

In [161]:
query = """
        SELECT *
        FROM Matches
        """
# JOIN Teams_in_Matches ON Matches.Match_ID = Teams_in_Matches
df = pd.DataFrame(cur.execute(query).fetchall())
df.columns = [x[0] for x in cur.description]
s11 = df[df['Season']==2011]
s11germ = s11[s11['Div']!='E0']
lat = 52.5065133
long = 13.1445703
weather = []
# for date in s11germ['Date']:
# #     print(date)
#     time = date
#     url='https://api.darksky.net/forecast/{}/{},{},{}T16:00:00'.format(apikey,lat,long,time)
# #     print(url)
#     response = requests.get(url)
#     weather.append(response.text)
# weather

In [162]:
class WeatherGetter(object):
    def __init__(self):
        self.lat = 52.5065133
        self.long = 13.1445703
        self.time = date
        self.apikey = '/Users/nielsclausen/Desktop/data/KEYS/APIKEY'
        
        
    def date(self):

SyntaxError: unexpected EOF while parsing (<ipython-input-162-2dcb8280ffaf>, line 10)

object = teams
run it through so that each team has stats x weather

In [163]:
for date in s11germ['Date']:
    time = date
    url = 'https://api.darksky.net/forecast/{}/{},{},{}T16:00:00'.format(apikey,lat,long,time)
    print(url)

NameError: name 'apikey' is not defined